[tower]
{{ tower_nodes[0].hostname }} rabbitmq_host={{ tower_nodes[0].rabbitmq_host }}
{{ tower_nodes[1].hostname }} rabbitmq_host={{ tower_nodes[1].rabbitmq_host }}
{{ tower_nodes[2].hostname }} rabbitmq_host={{ tower_nodes[2].rabbitmq_host }}

[database]
{{ pg_host }}

[all:vars]
ansible_ssh_private_key_file={{ ec2_key_file }}
ansible_connection=ssh
ansible_user=ec2-user
ansible_become=yes
ansible_become_method=sudo
#ansible_become_user=root
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'

tower_firewall_type={{ tower_firewall_type }}

admin_password={{ admin_password }}

pg_host={{ pg_host }}
pg_port='{{ pg_port }}'

pg_database={{ pg_database }}
pg_username={{ pg_username }}
pg_password={{ pg_password }}
pg_sslmode='prefer'  # set to 'verify-full' for client-side enforced SSL

rabbitmq_username={{ rabbitmq_username }}
rabbitmq_password={{ rabbitmq_password }}
rabbitmq_cookie={{ rabbitmq_cookie }}

